section{
    width: 100%;
    padding: 0 1rem;
    background: /*linear-gradient(#000aff,#ff137d);*/ white;
    background-size: cover;
    background-blend-mode: screen;
position: relative;
    height: 100vh;
}

h2{
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 0.5em;
    color:#B10962;
    margin-left: 10%;
    margin-top: 3%;
}

p{
    font-size: 20px;
    line-height: 25px;
    margin-left: 10%;
    color: #a8a5a7;
}

input{
    border: 1px solid #B10962 !important;
}
textarea{
    border: 1px solid #B10962 !important;
}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
}

section img{
    height: 700px;
   
}
@media (max-width:991px) {
    
    .wave{
        display: none;
    }
    section{
        padding: 2rem;
    }

    
}

@media (max-width:991px) {
    .rightimg{
        display: none;
    }
    
}

/******************************/
form button{
    width: 120px;
    height: 50px;
    border: 2px solid #B10962;
    color: #B10962;
    font-weight: bold;
    margin-left: 30%;
    cursor: pointer;
}