<div class="container-fluid ">

    <div class="row">
        <div class="d-flex text-white justify-content-center icons">
         <h3 class="fw-bold mt-5"> &ldquo;  The harder you work for something, the greater you will feel when you achieve it &rdquo; <i class="fas fa-grin-alt"></i></h3>

        </div>
    </div>
    <div class="row">
        <div class="d-flex text-white justify-content-center icons">
          <a href="https://www.facebook.com/Sherrykhaled750" class="circle"> <i class="fab fa-facebook"></i></a>
          <a href="https://www.linkedin.com/in/shereen-saeed-193934160" class="circle"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/shereensaeedhasaneen?tab=repositories" class="circle"><i class="fab fa-github"></i></a>
          <a class="circle"><i class="fab fa-google-plus"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="d-flex text-white justify-content-center icons">
         <p>Copyright &copy; 2021 Shereen Saeed All rights reserved</p>
        </div>
    </div>
</div>