<div class="container-fluid ">
    <div class="row">
        <div class="d-flex text-white justify-content-center icons">
         <span class="circle"> <i class="fab fa-facebook"></i></span>
          <span class="circle"><i class="fab fa-linkedin"></i></span>
          <span class="circle"><i class="fab fa-twitter"></i></span>
          <span class="circle"><i class="fab fa-google-plus"></i></span>
        </div>
    </div>

    <div class="row">
        <div class="d-flex text-white justify-content-center icons">
         <p class="fw-bold">Copyright &copy; 2021 Shereen Saeed All rights reserved</p>
        </div>
    </div>
</div>