<div class="container m-auto">
    <h1 class="text-center mt-5">My Latest Work</h1>

    <div class="row p-5">


        <div class="col-sm-6 col-md-4" data-aos="fade-up-right">
            <div class="card">
                <div class="imgBox">
                    <img src="assets/puzzle.PNG">
                </div>

                <div class="details">
                    <div class="content">
                        <h2> Puzzle Game For Kids with <span>Html5 & Css3 & javascript</span> <br>
                            <p>Not Responsive</p>
                        </h2>
                        <div class="social-icons">
                            <a href="https://puzzleiti.000webhostapp.com/" target="_blank">live Preview</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm-6 col-md-4" data-aos="flip-up">
            <div class="card">
                <div class="imgBox">
                    <img src="assets/elmenues.PNG">
                </div>

                <div class="details">
                    <div class="content">
                        <h3> Elmenues Website Clone For Order Food Online with<span> Angular & Bootstrap4 &
                                Firebase</span> <br>
                            <p>Fully Responsive</p>
                        </h3>
                        <div class="social-icons">
                            <a href="https://elmenus-iti.firebaseapp.com/Home" target="_blank">Live Preview</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-4" data-aos="zoom-in">
            <div class="card">
                <div class="imgBox">
                    <img src="assets/amazon.jpg">
                </div>

                <div class="details">
                    <div class="content">
                        <h3> Amazon Website Clone with<span> Html & Css & Javascript</span> <br>
                            <p>Not Responsive</p>
                        </h3>
                        <div class="social-icons">
                            <a href="https://amazonitiwebsite.000webhostapp.com/" target="_blank">Live Preview</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-4" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
            <div class="card">
                <div class="imgBox">
                    <img src="assets/sports.jpg">
                </div>

                <div class="details">
                    <div class="content">
                        <h3> Etisalat Sports Template with<span> Html & Css & Bootstrap5</span> <br>
                            <p>Fully Responsive</p>
                        </h3>
                        <div class="social-icons">
                            <a href="https://shereensaeedhasaneen.github.io/UI-Task2/" target="_blank">Live Preview</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm-6 col-md-4" data-aos="zoom-in-up">
            <div class="card">
                <div class="imgBox">
                    <img src="assets/template.PNG">
                </div>

                <div class="details">
                    <div class="content">
                        <!--<iframe width="560" height="315" src="https://firebasestorage.googleapis.com/v0/b/needeg-b6341.appspot.com/o/needeg.mp4?alt=media&token=9df9db60-0637-4fbc-ae97-4aaf0824fec1" title="YouTube video player" frameborder="0" volume="0"  allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                    </div>-->
                        <h3> UI Template with<span> Html & Pure Css & MediaQuery</span> <br>
                            <p>Fully Responsive</p>
                        </h3>
                        <div class="social-icons">
                            <a href=" https://shereensaeedhasaneen.github.io/UI-Task3/" target="_blank">Live Preview</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-4" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
            <div class="card">
                <div class="imgBox">
                    <img src="assets/movie.PNG">
                </div>

                <div class="details">
                    <div class="content">
                        <!--<iframe width="560" height="315" src="https://firebasestorage.googleapis.com/v0/b/needeg-b6341.appspot.com/o/needeg.mp4?alt=media&token=9df9db60-0637-4fbc-ae97-4aaf0824fec1" title="YouTube video player" frameborder="0" volume="0"  allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                    </div>-->
                        <h3> Movie website with<span> Angular & Bootstrap5 & Firebase</span> <br>
                            <p>Fully Responsive</p>
                        </h3>
                        <div class="social-icons">
                            <a href="https://jovial-tereshkova-d8fdb1.netlify.app" target="_blank">Live Preview</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        
        <div class="col-sm-6 col-md-4" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
            <div class="card">
                <div class="imgBox">
                    <img src="assets/socialtemp.PNG">
                </div>

                <div class="details">
                    <div class="content">
                        <h3> Social Template UI with<span> Bootstrap4</span> <br>
                            <p>Fully Responsive</p>
                        </h3>
                        <div class="social-icons">
                        <<iframe width="560" height="315" src="https://firebasestorage.googleapis.com/v0/b/needeg-b6341.appspot.com/o/socialTemplate.mp4?alt=media&token=a4d0ed5b-d84c-4017-8e77-2dec4fa93b95" title="YouTube video player" frameborder="0" volume="0"  allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm-6 col-md-4" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
            <div class="card">
                <div class="imgBox">
                    <img src="assets/designtemp.PNG">
                </div>

                <div class="details">
                    <div class="content">
                        <h3> UI Template  with<span> Html & Css Only</span> <br>
                            <p>Not Responsive</p>
                        </h3>
                        <div class="social-icons">
                            <iframe width="560" height="315" src="https://firebasestorage.googleapis.com/v0/b/needeg-b6341.appspot.com/o/designtemp.mp4?alt=media&token=f84a16c2-0b2f-4f7f-8b68-5b1952a61548" title="YouTube video player" frameborder="0" volume="0"  allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!------------------end row----------------------------------->
    </div>

</div>