

<div class="container-fluid cover" style="background: url('assets/stars.png') , linear-gradient(#A10A5A,#c40a6d );">
    

  <div class="container-fluid overlay">
    <div class="circle"></div>
<!-----------------------NavBar------------------------------->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img class="rounded-circle d-inline-block align-text-top rounded" width="50" height="40" src="assets/myPicture.jpg">
                <span>Front End</span>
                <p>Developer</p>
              </a>
          <button class="navbar-toggler toggler-example" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
     aria-expanded="false" aria-label="Toggle navigation"><span class="white-text"><i
        class="fas fa-bars fa-1x"></i></span></button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto"></ul>

            <div class="d-flex links">
                <ul class="navbar-nav">
                    <li (click)="toHome()" class="nav-item"  routerLinkActive="active">
                      <a class="nav-link active" aria-current="page">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>  
                        Home</a>
                    </li>

                    <li (click)="toAbout()" class="nav-item"  routerLinkActive="active">
                      <a class="nav-link">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>    
                        About</a>
                    </li>

                    <li (click)="toGallery()" class="nav-item"  routerLinkActive="active">
                        <a class="nav-link" >
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>  
                            Gallery</a>
                    </li>

                    <li (click)="toContact()" class="nav-item"  routerLinkActive="active">
                      <a class="nav-link">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>    
                        Contact</a>
                    </li>
                  </ul>
            </div>
          </div>
        </div>
      </nav>
<!---------------------- End Navbar ---------------------------------------->

<!----------------------- Body ------------------------------------------------>
 <div class="row">
     <div class="col-sm-6 text-white leftSide">
      <img src="assets/illustrate.png" width="85%" height="40%">

        <h1  data-aos="fade-right">Hi, <i class="fas fa-heart"></i></h1>
        <h2 data-aos="fade-right">I'm Shereen Saeed</h2>
        <h2>Front End Developer</h2>
        <p>Create beautiful Websites To help businesses do better Online</p>
        
      <button class="btn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Contact Me
      </button>
     </div>

     <div class="col-sm-6 rightside">
        <img src="assets/illustrate.png" width="100%" height="95%">
     </div>
 </div>

<!--------------------End Body ------------------------------------------------->
<!---------------------wave --------------------------->
  </div>
</div>
